*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right,red,orange
    );
    font-family: sans-serif;
}
.container{
    width: 100%;
    background-image: url("fimg1.jpg");
    padding: 70px 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #f8f8f8;
}
.container h2{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(224, 230, 224);
}
.container p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    
}
.searchBox{
    max-width: 600px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBox input{
    padding: 12px;
    width: 70%;
    border-radius: 5px 0 0 5px;
    outline: 0;
    border: 1px solid rgb(211, 27, 27);
    font-size: 1.2rem;
}
.searchBox button{
   cursor: pointer;
   background: rgb(211, 42, 42);
   padding: 12px 20px;
   border: 0;
   outline: none;
   border: 1px solid rgb(197, 20, 20);
   font-size: 1.2rem;
   color: white;
   font-weight: 600;
   border-radius: 0px 5px 5px 0px;
}
.searchBox button:hover{
    background-color:  rgb(9, 165, 61);
    font-size: 18px;
}
.notFound{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: rgb(247, 231, 231);
}
.recipes{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.recipe-card{
    width: 200px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
    text-align: center;
    position:relative ;
}
.recipe-card img{
    width: 100%;
    height: 120px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.recipe-card button{
    padding: 8px 14px;
    background: #29ab45;
    color: rgb(242, 234, 234);
    border-radius: 5px;
    border: 0;
    margin: 10px 0px;
    transition: background-color 0.3s ease, font-size 0.3s ease, padding 0.3s ease;
}
.recipe-card button:hover{
    background-color:  rgb(87, 129, 220);
    font-size: 18px;
    
}

.popup-card{
    background: rgb(237, 238, 233);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    height: 400px;
    z-index: 10;
    border: 2px solid red;
    display: none;
    
}

.popup-card h3{
    margin: 12px 0;
    color: #333;
    font-size: 23px; 
}
.popup-card p{
    margin: 12px 0;
    color: #333;
    font-size: 16px;
    overflow-y: auto;
    max-height: 280px;
    padding-right: 10px;
}
.close-btn{
    position: absolute;
    top: 20px;
    right: 30px;
    background: rgb(201, 64, 64);
    padding: 10px;
    border: 0;
    border-radius: 6px ;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
}